h1{
    display: block;
    border-bottom: 3px solid blue;
}

h2{
    display: block;
    border: 3px solid gray;
}

.contenedor-ul__1{
    display: block;
    border: 3px dotted red;
}

.contenedor-ul__2{
    display: block;
    border: 3px dotted green;
}